img{
    width: 150px;
    margin: 0 auto;

}

html, body{
    background-color: rgb(255, 211, 244);
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", sans-serif;
    
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto

}

input{
    color: black;
    background-color: aliceblue;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Arima', system-ui;
    margin: 10px 0;
}

button{
    color: black;
    background-color: aliceblue;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;

}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li{
    text-align: center;
    font-size: 20px;
    background-color: rgb(235, 199, 232);
    padding: 10px;
    border-radius: 8px;
    flex-grow: 1;
    
}

button:hover{
    background-color: rgb(255, 211, 244);
}

ul li:hover{
    background-color: aliceblue;
}    

